In [2]:
import numpy as np
import pandas as pd
import glob
import json
import os
import sys
import urllib.request
import requests
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import datetime as dt
import pymysql

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.arima_model import ARIMA

In [3]:
def selectDJ() : 
    tmp_df = pd.DataFrame([])
    
    tmp_date = np.array([])
    tmp_close = np.array([])
    tmp_open = np.array([])
    tmp_high = np.array([])
    tmp_low = np.array([])
    tmp_volume = np.array([])
    
    conn = pymysql.connect(host='localhost', port=3306,
                           user='acorn12', passwd='acorn12', db='acorn', charset='utf8')
    try:
        with conn.cursor() as cursor:
            sql = 'SELECT dj_date, dj_close, dj_open, dj_high, dj_low, dj_volume FROM dowjones '

            cursor.execute(sql)
            conn.commit()

            rows = cursor.fetchall()
            
            for i in range(len(rows)) :
                tmp_date = np.append(tmp_date, rows[i][0])
                tmp_close = np.append(tmp_close, rows[i][1])
                tmp_open = np.append(tmp_open, rows[i][2])
                tmp_high = np.append(tmp_high, rows[i][3])
                tmp_low = np.append(tmp_low, rows[i][4])
                tmp_volume = np.append(tmp_volume, rows[i][5])
                
    finally:
        conn.close()
    
    tmp_df['date'] = tmp_date.astype('datetime64[ns]')
    tmp_df['close'] = tmp_close
    tmp_df['open'] = tmp_open
    tmp_df['high'] = tmp_high
    tmp_df['low'] = tmp_low
    tmp_df['volume'] = tmp_volume
    
    tmp_df = tmp_df.set_index('date')
    
    return(tmp_df)

In [4]:
def selectGold() : 
    tmp_df = pd.DataFrame([])
    
    tmp_date = np.array([])
    tmp_close = np.array([])
    tmp_open = np.array([])
    tmp_high = np.array([])
    tmp_low = np.array([])
    tmp_volume = np.array([])
    
    conn = pymysql.connect(host='localhost', port=3306,
                           user='acorn12', passwd='acorn12', db='acorn', charset='utf8')
    try:
        with conn.cursor() as cursor:
            sql = 'SELECT gold_date, gold_close, gold_open, gold_high, gold_low, gold_volume '
            sql += 'FROM gold '

            cursor.execute(sql)
            conn.commit()

            rows = cursor.fetchall()
            
            for i in range(len(rows)) :
                tmp_date = np.append(tmp_date, rows[i][0])
                tmp_close = np.append(tmp_close, rows[i][1])
                tmp_open = np.append(tmp_open, rows[i][2])
                tmp_high = np.append(tmp_high, rows[i][3])
                tmp_low = np.append(tmp_low, rows[i][4])
                tmp_volume = np.append(tmp_volume, rows[i][5])
                
    finally:
        conn.close()
    
    tmp_df['date'] = tmp_date.astype('datetime64[ns]')
    tmp_df['close'] = tmp_close
    tmp_df['open'] = tmp_open
    tmp_df['high'] = tmp_high
    tmp_df['low'] = tmp_low
    tmp_df['volume'] = tmp_volume
    
    tmp_df = tmp_df.set_index('date')
    
    return(tmp_df)

In [5]:
def selectBitcoin() : 
    tmp_df = pd.DataFrame([])
    
    tmp_date = np.array([])
    tmp_close = np.array([])
    tmp_open = np.array([])
    tmp_high = np.array([])
    tmp_low = np.array([])
    tmp_volume = np.array([])
    
    conn = pymysql.connect(host='localhost', port=3306,
                           user='acorn12', passwd='acorn12', db='acorn', charset='utf8')
    try:
        with conn.cursor() as cursor:
            sql = 'SELECT bit_date, bit_close, bit_open, bit_high, bit_low, bit_volume '
            sql += 'FROM bitcoin '

            cursor.execute(sql)
            conn.commit()

            rows = cursor.fetchall()
            
            for i in range(len(rows)) :
                tmp_date = np.append(tmp_date, rows[i][0])
                tmp_close = np.append(tmp_close, rows[i][1])
                tmp_open = np.append(tmp_open, rows[i][2])
                tmp_high = np.append(tmp_high, rows[i][3])
                tmp_low = np.append(tmp_low, rows[i][4])
                tmp_volume = np.append(tmp_volume, rows[i][5])
                
    finally:
        conn.close()
    
    tmp_df['date'] = tmp_date.astype('datetime64[ns]')
    tmp_df['close'] = tmp_close
    tmp_df['open'] = tmp_open
    tmp_df['high'] = tmp_high
    tmp_df['low'] = tmp_low
    tmp_df['volume'] = tmp_volume
    
    tmp_df = tmp_df.set_index('date')
    
    return(tmp_df)

In [6]:
dowjones_DF = selectDJ()
gold_DF = selectGold()
bitcoin_DF = selectBitcoin()

dowjones_subDF = dowjones_DF.loc[:,['close','open']]
gold_subDF = gold_DF.loc[:,['close','open']]
bitcoin_subDF = bitcoin_DF.loc[:,['close','open']]

dowjones_subDF = dowjones_subDF.add_prefix('dj_')
gold_subDF = gold_subDF.add_prefix('gol_')
bitcoin_subDF = bitcoin_subDF.add_prefix('bit_')

result_sub = pd.concat([bitcoin_subDF, gold_subDF, dowjones_subDF], axis = 1, sort=False)

# na 값에 대해서 padding 처리한 과정 : 값이 없으면 전날 데이터 기준으로 들어간다

beforeDate = result_sub.index[0]

for date in result_sub.index :
    for cols in result_sub.columns :
        if pd.isnull(result_sub.at[date,cols]) == True :
            result_sub.at[date,cols] = result_sub.at[beforeDate,cols]
    beforeDate = date


# db연결해서 중복된 값 안받아오게끔 하기
conn = pymysql.connect(host='localhost', port=3306,user='acorn12', passwd='acorn12', db='acorn', charset='utf8')

try:
    with conn.cursor() as cursor:
        sql = 'SELECT IFNULL(MAX(cl_date),"2013-01-01") FROM al_close '
        
        cursor.execute(sql)
        
        rows = cursor.fetchone()
        lastDate = rows[0]
        
        # db에 기록된 가장 최근값과 오늘의 날짜 반납( 이 기준으로 db에서 가져옴)
        
        recentlyDate = pd.to_datetime(lastDate).date()
        recentlyDate += dt.timedelta(days=1) # 하루 추가하기(다음날로 확인하는 거)
        today = dt.datetime.now().date()
        
        result_sub_update = result_sub.loc[recentlyDate:,:]
        
        if recentlyDate < today :
            for date in result_sub_update.index :

                sql = 'INSERT INTO al_close(cl_date, cl_bitcoin, cl_gold, cl_dowjones) '
                sql += 'VALUES(%s,%s,%s,%s) '

                cursor.execute(sql,(date.date(),float(result_sub_update.at[date,'bit_close']),float(result_sub_update.at[date,'gol_close']),float(result_sub_update.at[date,'dj_close'])) )


        conn.commit()

finally:
    conn.close()

In [11]:
# 새로 컨트롤할 데이터 출력
upData = result_sub.loc[:,['bit_close','gol_close','dj_close']]

In [13]:
upData

            bit_close  gol_close  dj_close
date
2013-01-02      13.28    1687.90  13412.55
2013-01-03      13.40    1673.70  13391.36
2013-01-04      13.50    1648.10  13435.21
2013-01-05      13.44    1648.10  13435.21
2013-01-06      13.45    1648.10  13435.21
...               ...        ...       ...
2020-01-26    8621.60    1581.95  28989.73
2020-01-27    8912.00    1580.25  28533.15
2020-01-28    9393.70    1580.15  28722.03
2020-01-29    9304.20    1576.70  28735.70
2020-01-30    9322.50    1575.95  28735.70

[2578 rows x 3 columns]