In [2]:
import numpy as np
import pandas as pd

In [3]:
df1 = pd.DataFrame([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
df1

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [10]:
df1[3].shift(-1)

0     8.0
1    12.0
2     NaN
Name: 3, dtype: float64

In [12]:
df1.index[-1]

2

In [33]:
list(df1.dropna(axis=1).columns)

[0, 1]

In [ ]:
df1_null = pd.DataFrame(df1.isnull().sum())
df1_null[df1_null[0]!=0].index

In [56]:
df1

   0   1    2     3
0  1   2  3.0   4.0
1  5   6  7.0   NaN
2  9  10  NaN  12.0

In [113]:
df1.columns[df1.isnull().sum()>0]

Int64Index([2, 3], dtype='int64')

In [116]:
for col in df1.columns :
    df1[col] = df1[col].apply(lambda x : 0 if x==None else x)

In [126]:
df1.at[2,2] == np.NaN

False