In [1]:
import numpy as np
import pandas as pd

In [5]:
Data_set = pd.read_csv('06_korean_default/Data_set.csv',encoding='cp949')
Data_set.head()

,CUST_ID,TARGET,BNK_LNIF_CNT,CPT_LNIF_CNT,SPART_LNIF_CNT,ECT_LNIF_CNT,TOT_LNIF_AMT,TOT_CLIF_AMT,BNK_LNIF_AMT,CPT_LNIF_AMT,...,CBPT_MBSP_YN,MOBL_FATY_PRC,TEL_CNTT_QTR,NUM_DAY_SUSP,CRMM_OVDU_AMT,TLFE_UNPD_CNT,LT1Y_MXOD_AMT,PAYM_METD,LINE_STUS,MOBL_PRIN
0,1,0,1,0,0,0,9001,9001,9001,0,...,N,800000,20111,0,0,0,0,O,U,580000
1,2,0,1,0,0,0,24001,0,24001,0,...,N,500000,20143,0,0,0,0,O,U,90000
2,3,0,0,1,3,2,15001,9001,0,3001,...,Y,500000,20103,0,0,0,0,O,U,120000
3,4,1,0,2,4,2,6001,3001,0,3001,...,N,900000,20144,0,540000,0,630000,G,S,320000
4,5,0,4,0,0,0,21001,15001,21001,0,...,Y,800000,20131,0,130000,0,90000,G,U,410000

In [7]:
Data_set.TARGET.value_counts(normalize=True)

0    0.95723
1    0.04277
Name: TARGET, dtype: float64

In [8]:
Data_set.shape

(100233, 69)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100233 entries, 0 to 100232
Data columns (total 68 columns):
TARGET               100233 non-null int64
BNK_LNIF_CNT         100233 non-null int64
CPT_LNIF_CNT         100233 non-null int64
SPART_LNIF_CNT       100233 non-null int64
ECT_LNIF_CNT         100233 non-null int64
TOT_LNIF_AMT         100233 non-null int64
TOT_CLIF_AMT         100233 non-null int64
BNK_LNIF_AMT         100233 non-null int64
CPT_LNIF_AMT         100233 non-null int64
CRDT_OCCR_MDIF       100233 non-null int64
SPTCT_OCCR_MDIF      100233 non-null int64
CRDT_CARD_CNT        100233 non-null int64
CTCD_OCCR_MDIF       100233 non-null int64
CB_GUIF_CNT          100233 non-null int64
CB_GUIF_AMT          100233 non-null int64
OCCP_NAME_G          99769 non-null object
CUST_JOB_INCM        100233 non-null int64
HSHD_INFR_INCM       100233 non-null int64
ACTL_FMLY_NUM        100233 non-null int64
CUST_FMLY_NUM        100233 non-null int64
LAST_CHLD_AGE        99206 non-null float64
MATE_OCCP_NAME_G     54524 non-null object
MATE_JOB_INCM        100233 non-null int64
CRDT_LOAN_CNT        100233 non-null int64
MIN_CNTT_DATE        100233 non-null int64
TOT_CRLN_AMT         100233 non-null int64
TOT_REPY_AMT         100233 non-null int64
CRLN_OVDU_RATE       100233 non-null int64
CRLN_30OVDU_RATE     100233 non-null int64
LT1Y_CLOD_RATE       100233 non-null int64
STRT_CRDT_GRAD       100233 non-null int64
LTST_CRDT_GRAD       100233 non-null int64
PREM_OVDU_RATE       100233 non-null int64
LT1Y_PEOD_RATE       100233 non-null object
AVG_STLN_RATE        100233 non-null int64
STLN_REMN_AMT        100233 non-null int64
LT1Y_STLN_AMT        100233 non-null int64
LT1Y_SLOD_RATE       100233 non-null int64
GDINS_MON_PREM       100233 non-null int64
SVINS_MON_PREM       100233 non-null int64
FMLY_GDINS_MNPREM    100233 non-null int64
FMLY_SVINS_MNPREM    100233 non-null int64
MAX_MON_PREM         100233 non-null int64
TOT_PREM             100233 non-null int64
FMLY_TOT_PREM        100233 non-null int64
CNTT_LAMT_CNT        100233 non-null int64
LT1Y_CTLT_CNT        100233 non-null int64
AUTR_FAIL_MCNT       100233 non-null int64
FYCM_PAID_AMT        100233 non-null int64
FMLY_CLAM_CNT        100233 non-null int64
FMLY_PLPY_CNT        100233 non-null int64
AGE                  100233 non-null object
SEX                  100233 non-null object
AVG_CALL_TIME        100233 non-null int64
AVG_CALL_FREQ        100233 non-null int64
TEL_MBSP_GRAD        54218 non-null object
ARPU                 100233 non-null int64
MON_TLFE_AMT         100233 non-null int64
CBPT_MBSP_YN         100233 non-null object
MOBL_FATY_PRC        100233 non-null int64
TEL_CNTT_QTR         100233 non-null int64
NUM_DAY_SUSP         100233 non-null int64
CRMM_OVDU_AMT        100233 non-null int64
TLFE_UNPD_CNT        100233 non-null int64
LT1Y_MXOD_AMT        100233 non-null int64
PAYM_METD            97400 non-null object
LINE_STUS            100233 non-null object
MOBL_PRIN            100233 non-null int64
dtypes: float64(1), int64(58), object(9)
memory usage: 52.0+ MB

In [11]:
# 문자열 인코딩해야됨

Data_set.PAYM_METD.value_counts()

O    56919
K    32364
G     4541
R     3576
Name: PAYM_METD, dtype: int64

In [14]:
Data_set.drop('CUST_ID',axis=1,inplace=True)

In [16]:
X = Data_set.iloc[:,1:]
y = Data_set.iloc[:,0]

In [ ]:
from sklearn.preprocessing import LabelEncoder

ordinals = []

for ordinal in ordinals:
    le = LabelEncoder()
    le.fit(X[ordinal])
    df[ordinal] = le.transform(df[ordinal])

In [ ]:

LGB = LGBMClassifier(verbose=1, n_jobs=-1)

parameters = {
    'n_estimators':np.arange(50,1000,50),
    'learning_rate':np.arange(0.3,0.01,-0.05),
    'max_depth':np.arange(2,20,2)
}
n_iter_search=10
lgbc_rgs = RandomizedSearchCV(LGB, param_distributions=parameters, cv=7,
                            scoring='accuracy', n_jobs=-1,
                            verbose=1,random_state=1234,
                            n_iter=n_iter_search)
lgbc_rgs.fit(x_train, y_train)

lgbc_rgs.fit(x_train, y_train)
lgbc_best = lgbc_rgs.best_estimator_
prediction = lgbc_best.predict(x_test)

clustering (군집화)
 - 비슷한, 공통된 특성을 보이는 것들끼리 모으는 일
 
 - k_means : 중심포인트기준 가까운 k개의 점에 대해서 거리의 평균값

In [20]:
from sklearn.cluster import KMeans

In [ ]:
np.random.seed(123)
X = np.random.randn(50,2)

dendogram 
 - 가까운 것끼리 묶어서 올라가는 형태로 만들어짐 (다 그려지면 트리랑 비슷한 구조로 만들어짐)